@mixin background-it($path){
	background-image: $path;
	color:white;
}

$image: url(/img/forest-1198698_1920.jpg);
$text-colour: white;

.custom {
	@include background-it($image);
}

.app-appear {
	opacity:0.01;
}

.app-appear-active{
	opacity: 1;
	transition: opacity .5 ease-in;
}
